.nav {
    background-color: #831187;
    text-align: left;
    
    height: 40px;
    width: 100%;
    
    
}
.navText {
    margin: 15px;
    color: rgb(251, 255, 0);
    font-size: 20px;
    font-style: bold;
}