.main {
    width: 100%;
}

.background {
    margin-left: 7%; 
    height: 100px;
    background-image: url("images/scary.png");
    background-repeat: repeat;
    background-size: contain;
    position: relative;
}

.logo {
    width: 95%; 
    height: 100px; 
    float: left;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
  }

.date {
    position: absolute;
    margin-left: 90%;
    margin-top: 1%;
    width: 9.9%;
    height: 50px;
    border: 1px solid #000; 
    background-color: rgb(105, 0, 105);
  }