
.header1 {
    margin: auto;
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    color: rgb(255, 115, 0);
    text-align: center;
    font-size: 40px;
}

.body {
    height: 450px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-family: Arial;
    color: rgb(251, 255, 0);
    text-align: left;
    font-size: 25px;
}
.content {
    word-wrap: break-word;
    margin-right: 20%;
}

.advertisement {
    height: 240px;
    width: 120px;
    align-self: right;
    margin-right: 90px;
}