
html {
    height: 100%;
    overflow: auto;
}

.header1 {
    margin: auto;
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    color: rgb(255, 115, 0);
    text-align: center;
    text-align: top;
    font-size: 40px;
}
.header2 {
    margin: auto;
    width: 50%;
    font-style: normal;
    font-family: Arial;
    color: rgb(255, 115, 0);
    text-align: center;
    text-align: top;
    font-size: 32px;
}

.body {
    /* height: 100vh; */
    overflow: auto;
    font-style: normal;
    font-family: Arial;
    color: rgb(251, 255, 0);
    text-align: left;
    text-align: top;
    font-size: 25px;
}
.content {
    word-wrap: break-word;
    width: 70%;
    height: vh;
    align-self: top;
    justify-content: top;
    vertical-align:top;
    padding-left: 15px;
    padding-top: 15px;
}

.advertisement {
    height: vh;
    width: 100px;
    display: inline-block;
    margin-left: 15%;
    margin-right: 5%;
    text-align: right;
    vertical-align: top;
    margin-top: 2%;
}

.line {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: rgb(251, 255, 0);
  }

.footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}